# Map all email variations to the canonical GitHub account
bezageta <bezageta2@gmail.com> <bezageta2.gmail.com>
bezageta <bezageta2@gmail.com> Bezageta <bezageta2@gmail.com>
bezageta <bezageta2@gmail.com> bezageta <bezageta2.gmail.com>
bezageta <bezageta2@gmail.com> Bezageta <bezageta2.gmail.com>
